<!--<link href="assets/plugins/custom/datatables/datatables.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />-->
<div class="post d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div id="kt_content_container" class="container">
    <!--begin::Tables Widget 13-->
    <div class="card card-custom">
      <div class="card-body">
        <!--begin: Search Form-->
        <form class="kt-form kt-form--fit mb-15">
          <div class="row mb-8">
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>Lớp:</label>
              <select class="form-control datatable-input" data-col-index="6">
                <option value="">Select</option>
              </select>
            </div>
          </div>
        </form>
        <!--begin: Datatable-->
        <!--begin: Datatable-->
        <table id="tblClasses" class="table table-bordered table-checkable"></table>
        <!--end: Datatable-->
      </div>
    </div>
    <!--end::Tables Widget 13-->
  </div>
  <!--end::Container-->
</div>
