<!--<link href="assets/plugins/custom/datatables/datatables.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />-->
<div class="post d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div id="kt_content_container" class="container">
    <!--begin::Tables Widget 13-->
    <div class="card mb-5 mb-xl-8">
      <!--begin::Header-->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Lớp 1A</span>
        </h3>
      </div>
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body py-3">
        <!--begin::Table container-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table  id="tblStudent" class="table table-bordered table-checkable">
            <thead>
            <tr *ngFor="let row of headers">
              <th *ngFor="let item of row" [attr.class]="item.class" [attr.colspan]="item.colspan" [attr.rowspan]="item.rowspan">{{item.text}}</th>
            </tr>
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody>
            <tr *ngFor="let row of body">
              <td *ngFor="let item of row">{{item}}</td>
            </tr>
            </tbody>
          </table>
          <!--end::Table-->
        </div>
        <!--end::Table container-->
      </div>
      <!--begin::Body-->
    </div>
    <!--end::Tables Widget 13-->
  </div>
  <!--end::Container-->
</div>
