/*.content {*/
/*  background: #eef0f8;*/
/*}*/

/*!*@media (min-width: 992px) {*!*/
/*!*  #kt_content.content {*!*/
/*!*    padding-top: 95px!important;*!*/
/*!*  }*!*/
/*!*}*!*/


/*.ui.table thead tr th:first-child {*/
/*  border-left: 1px solid rgba(34, 36, 38, 0.1)!important;*/
/*}*/
